---
---

@import "minima";

h1[id], h2[id], h3[id], h4[id] {
  position: relative;

  &:hover .anchor-link {
    opacity: 1;
  }
}

.anchor-link {
  opacity: 0;
  margin-left: 0.3em;
  text-decoration: none;
  color: #aaa;
  font-weight: normal;
  font-size: 0.8em;
  transition: opacity 0.2s;

  &:hover {
    color: #555;
  }
}
